@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
body{
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}
.bi {
	vertical-align: -.125em;
	fill: currentColor;
  }

  .bd-mode-toggle {
	z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
  }